In [1]:
pip install pandas sklearn tensorflow

Requirement already satisfied: pandas in c:\users\rishabh\anaconda3\lib\site-packages (0.25.1)
Collecting sklearn
  Using cached https://files.pythonhosted.org/packages/1e/7a/dbb3be0ce9bd5c8b7e3d87328e79063f8b263b2b1bfa4774cb1147bfcd3f/sklearn-0.0.tar.gz
Requirement already satisfied: tensorflow in c:\users\rishabh\anaconda3\lib\site-packages (2.0.0)
Requirement already satisfied: pytz>=2017.2 in c:\users\rishabh\anaconda3\lib\site-packages (from pandas) (2019.3)
Requirement already satisfied: python-dateutil>=2.6.1 in c:\users\rishabh\anaconda3\lib\site-packages (from pandas) (2.8.0)
Requirement already satisfied: numpy>=1.13.3 in c:\users\rishabh\anaconda3\lib\site-packages (from pandas) (1.16.5)
Requirement already satisfied: scikit-learn in c:\users\rishabh\anaconda3\lib\site-packages (from sklearn) (0.21.3)
Requirement already satisfied: protobuf>=3.6.1 in c:\users\rishabh\anaconda3\lib\site-packages (from tensorflow) (3.10.0)
Requirement already satisfied: gast==0.2.2 in c:\users\rishabh\anaconda3\lib\site-packages (from tensorflow) (0.2.2)
Requirement already satisfied: tensorboard<2.1.0,>=2.0.0 in c:\users\rishabh\anaconda3\lib\site-packages (from tensorflow) (2.0.0)
Requirement already satisfied: astor>=0.6.0 in c:\users\rishabh\anaconda3\lib\site-packages (from tensorflow) (0.8.0)
Requirement already satisfied: keras-applications>=1.0.8 in c:\users\rishabh\anaconda3\lib\site-packages (from tensorflow) (1.0.8)
Requirement already satisfied: tensorflow-estimator<2.1.0,>=2.0.0 in c:\users\rishabh\anaconda3\lib\site-packages (from tensorflow) (2.0.0)
Requirement already satisfied: termcolor>=1.1.0 in c:\users\rishabh\anaconda3\lib\site-packages (from tensorflow) (1.1.0)
Requirement already satisfied: grpcio>=1.8.6 in c:\users\rishabh\anaconda3\lib\site-packages (from tensorflow) (1.24.1)
Requirement already satisfied: wheel>=0.26 in c:\users\rishabh\anaconda3\lib\site-packages (from tensorflow) (0.33.6)
Requirement already satisfied: six>=1.10.0 in c:\users\rishabh\anaconda3\lib\site-packages (from tensorflow) (1.12.0)
Requirement already satisfied: opt-einsum>=2.3.2 in c:\users\rishabh\anaconda3\lib\site-packages (from tensorflow) (3.1.0)
Requirement already satisfied: google-pasta>=0.1.6 in c:\users\rishabh\anaconda3\lib\site-packages (from tensorflow) (0.1.7)
Requirement already satisfied: absl-py>=0.7.0 in c:\users\rishabh\anaconda3\lib\site-packages (from tensorflow) (0.8.1)
Requirement already satisfied: wrapt>=1.11.1 in c:\users\rishabh\anaconda3\lib\site-packages (from tensorflow) (1.11.2)
Requirement already satisfied: keras-preprocessing>=1.0.5 in c:\users\rishabh\anaconda3\lib\site-packages (from tensorflow) (1.1.0)
Requirement already satisfied: scipy>=0.17.0 in c:\users\rishabh\anaconda3\lib\site-packages (from scikit-learn->sklearn) (1.3.1)
Requirement already satisfied: joblib>=0.11 in c:\users\rishabh\anaconda3\lib\site-packages (from scikit-learn->sklearn) (0.13.2)
Requirement already satisfied: setuptools in c:\users\rishabh\anaconda3\lib\site-packages (from protobuf>=3.6.1->tensorflow) (41.4.0)
Requirement already satisfied: markdown>=2.6.8 in c:\users\rishabh\anaconda3\lib\site-packages (from tensorboard<2.1.0,>=2.0.0->tensorflow) (3.1.1)
Requirement already satisfied: werkzeug>=0.11.15 in c:\users\rishabh\anaconda3\lib\site-packages (from tensorboard<2.1.0,>=2.0.0->tensorflow) (0.16.0)
Requirement already satisfied: h5py in c:\users\rishabh\anaconda3\lib\site-packages (from keras-applications>=1.0.8->tensorflow) (2.9.0)
Building wheels for collected packages: sklearn
  Building wheel for sklearn (setup.py): started
  Building wheel for sklearn (setup.py): finished with status 'done'
  Created wheel for sklearn: filename=sklearn-0.0-py2.py3-none-any.whl size=1321 sha256=c8940650235ca6fb2fcf8e98b706de9b237e3503e3ebbeb118989461d4c7af65
  Stored in directory: C:\Users\RISHABH\AppData\Local\pip\Cache\wheels\76\03\bb\589d421d27431bcd2c6da284d5f2286c8e3b2ea3cf1594c074
Successfully built sklearn
Installing collected packages: sklearn
Successfully installed sklearn-0.0
Note: you may need to restart the kernel to use updated packages.

In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('Tdata.csv')

In [4]:
df.head

<bound method NDFrame.head of       Fever  Age  Bpain  Cough  Breathing  ChestPain  TestResult
0        98   57      1      0          1          1           1
1        98   88      0      1          0          0           0
2        99   53      1      1          1          1           1
3       101   50      0      1          0          0           0
4        98   91      1      1          1          0           1
...     ...  ...    ...    ...        ...        ...         ...
2313     99   23      1      0          0          1           1
2314    103   59      1      0          0          0           0
2315    102   69      0      1          0          1           0
2316     99   42      0      1          1          0           0
2317    103   98      0      1          1          0           0

[2318 rows x 7 columns]>

In [5]:
df.head()

   Fever  Age  Bpain  Cough  Breathing  ChestPain  TestResult
0     98   57      1      0          1          1           1
1     98   88      0      1          0          0           0
2     99   53      1      1          1          1           1
3    101   50      0      1          0          0           0
4     98   91      1      1          1          0           1

In [6]:
df.tail()

      Fever  Age  Bpain  Cough  Breathing  ChestPain  TestResult
2313     99   23      1      0          0          1           1
2314    103   59      1      0          0          0           0
2315    102   69      0      1          0          1           0
2316     99   42      0      1          1          0           0
2317    103   98      0      1          1          0           0

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2318 entries, 0 to 2317
Data columns (total 7 columns):
Fever         2318 non-null int64
Age           2318 non-null int64
Bpain         2318 non-null int64
Cough         2318 non-null int64
Breathing     2318 non-null int64
ChestPain     2318 non-null int64
TestResult    2318 non-null int64
dtypes: int64(7)
memory usage: 126.9 KB

In [8]:
df['Fever'].value_counts()

101    348
104    341
103    331
99     330
100    328
98     324
102    316
Name: Fever, dtype: int64

In [9]:
df.describe()

,Fever,Age,Bpain,Cough,Breathing,ChestPain,TestResult
count,2318.000000,2318.000000,2318.000000,2318.000000,2318.000000,2318.000000,2318.000000
mean,101.017688,54.757981,0.489215,0.486195,0.483175,0.515531,0.516393
std,2.000461,32.235640,0.499992,0.499917,0.499825,0.499867,0.499839
min,98.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,99.000000,27.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,101.000000,55.000000,0.000000,0.000000,0.000000,1.000000,1.000000
75%,103.000000,83.000000,1.000000,1.000000,1.000000,1.000000,1.000000
max,104.000000,110.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [10]:
import numpy as np

#Train-Test Split

In [12]:
def data_split(data,ratio):
    np.random.seed(42)
    shuffled = np.random.permutation(len(data))
    test_set_size = int(len(data)*ratio)
    test_indices = shuffled[:test_set_size]
    train_indices = shuffled[test_set_size:]
    return data.iloc[train_indices],data.iloc[test_indices]

In [14]:
train,test = data_split(df,0.2)

In [15]:
train

      Fever  Age  Bpain  Cough  Breathing  ChestPain  TestResult
1452     99   45      0      1          0          1           0
1989    104   19      1      0          1          0           1
1827     99  105      0      1          0          1           0
2108    104   89      1      1          1          0           1
1173     98   39      1      0          0          1           0
...     ...  ...    ...    ...        ...        ...         ...
1638    103  105      1      0          0          1           1
1095    102   40      0      0          0          0           0
1130    101   43      0      1          1          0           1
1294    102   36      1      1          1          1           1
860     100   26      0      1          0          0           1

[1855 rows x 7 columns]

In [16]:
test

      Fever  Age  Bpain  Cough  Breathing  ChestPain  TestResult
1040    104   37      0      0          1          1           1
548      99   91      0      1          0          0           1
100     104  109      0      1          0          0           0
1044    103   49      1      0          1          1           1
251      98   62      0      1          1          1           1
...     ...  ...    ...    ...        ...        ...         ...
907     102   55      0      1          1          1           1
707     100   55      1      0          1          1           0
2216     98   52      0      1          0          0           1
1491     98   25      1      1          0          0           0
1523    104   11      0      1          0          1           0

[463 rows x 7 columns]

In [27]:
x_train = train[['Fever','Age','Bpain','Cough','Breathing','ChestPain']].to_numpy()

In [18]:
x_train

array([[ 99,  45,   0,   1,   0,   1],
       [104,  19,   1,   0,   1,   0],
       [ 99, 105,   0,   1,   0,   1],
       ...,
       [101,  43,   0,   1,   1,   0],
       [102,  36,   1,   1,   1,   1],
       [100,  26,   0,   1,   0,   0]], dtype=int64)

In [28]:
x_test = test[['Fever','Age','Bpain','Cough','Breathing','ChestPain']].to_numpy()

In [20]:
x_test

array([[104,  37,   0,   0,   1,   1],
       [ 99,  91,   0,   1,   0,   0],
       [104, 109,   0,   1,   0,   0],
       ...,
       [ 98,  52,   0,   1,   0,   0],
       [ 98,  25,   1,   1,   0,   0],
       [104,  11,   0,   1,   0,   1]], dtype=int64)

In [29]:
y_train = train[['TestResult']].to_numpy().reshape(1855,)

In [30]:
y_train

array([0, 1, 0, ..., 1, 1, 1], dtype=int64)

In [31]:
y_test = test[['TestResult']].to_numpy().reshape(463,)

In [32]:
y_test

array([1, 1, 0, 1, 1, 0, 1, 0, 1, 1, 0, 0, 1, 1, 1, 0, 1, 1, 1, 0, 0, 0,
       1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 1, 1, 1, 1, 0, 1,
       1, 0, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 0, 0, 1, 0,
       0, 0, 0, 0, 1, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0,
       1, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 1,
       1, 0, 0, 0, 1, 1, 1, 0, 0, 1, 0, 0, 0, 1, 1, 1, 0, 1, 1, 1, 0, 1,
       1, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 0, 1, 1, 0, 0, 0, 1, 1, 1, 1,
       0, 1, 0, 1, 0, 1, 0, 1, 1, 1, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0,
       0, 0, 0, 1, 0, 0, 1, 1, 1, 1, 1, 1, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0,
       1, 1, 0, 1, 1, 0, 1, 0, 0, 1, 1, 0, 0, 1, 0, 0, 1, 0, 0, 0, 1, 0,
       1, 1, 0, 1, 1, 1, 1, 1, 0, 0, 0, 1, 0, 1, 0, 1, 1, 0, 1, 0, 0, 1,
       1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 1,
       0, 1, 1, 0, 1, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0,
       0, 1, 1, 0, 1, 0, 0, 1, 1, 0, 1, 1, 1, 0, 0, 1, 1, 1, 0, 0, 1, 0,
       1, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 1, 0, 0,
       0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 0, 0, 1,
       1, 0, 1, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 1, 0, 0, 0, 1, 1, 1, 1, 1,
       1, 0, 1, 0, 1, 1, 0, 0, 1, 0, 1, 1, 0, 1, 1, 1, 1, 0, 0, 1, 1, 1,
       0, 0, 0, 1, 1, 0, 0, 1, 0, 1, 0, 0, 1, 1, 1, 1, 1, 0, 0, 1, 0, 1,
       1, 1, 0, 1, 0, 1, 0, 1, 0, 0, 1, 0, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1,
       1, 0, 0, 1, 1, 1, 1, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 1, 1, 0, 1, 0,
       0], dtype=int64)

# we are using logistic regression to model this

In [33]:
from sklearn.linear_model import LogisticRegression

In [34]:
clf = LogisticRegression()
clf.fit(x_train,y_train)

C:\Users\RISHABH\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='warn', n_jobs=None, penalty='l2',
                   random_state=None, solver='warn', tol=0.0001, verbose=0,
                   warm_start=False)

In [43]:
inputFeatures = [100,77,0,0,0,0]
infProb = clf.predict_proba([inputFeatures])[0][1]

In [44]:
infProb

0.5267722746752236